* {
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
a, p {
    font-family: "Nunito", sans-serif;
}
hr {
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    font-weight: 100;
    padding-bottom: 20px;
}
.wrapper {
    display: flex;
    margin: auto;
    width: 75%;
    margin-top: 10%;
}
.navbar {
    position: fixed;
    z-index: 1;
    width: 130px;
    height: 100vh;
    padding: 10px;
    text-align: right;
    /* background-color: aquamarine; */
}
.navbar ul {
    padding: 0;
    list-style-type: none;
}
.navbar li {
    padding-bottom: 20px;
}
.navbar a {
    color: black;
    text-decoration: none;
}
.nav-links:hover {
    color: darkgray;
    text-decoration: underline;
}
.content {
    margin-left: 150px;
    height: 100%;
    padding: 10px;
    /* background-color: coral; */
}
.content article {
    padding-bottom: 50px;
}
.gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}
.img-wrap {
    position: relative;
    height: 300px;
    width: 100%;
}
.gallery a img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}
.img-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(128, 128, 128, 0.82);
    color: white;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}
.img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
}
.right-dates {
    float: right;
}
.fa {
    padding-left: 20px;
    font-size: 20px;
}
.fa:hover {
    opacity: 0.5;
}
.copyright {
    font-size: small;
}
#mobile__border {
    opacity: 0;
}
.about__container {
    display: flex;
    padding: 20px;
}
.about__container img {
    height: 100%;
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50%;
}
#about__text {
    margin: auto;
}
@media  screen and (max-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .gallery img {
        height: auto;
    }
    .right-dates {
        float: inherit
    }
    .resume__container li {
        margin-right: 50px;
    }
    .about__container {
        display: flex;
        flex-direction: column;
        padding: 0px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about__container img {
        height: 100%;
        width: 150px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 50%;
    }
}
@media screen and (max-width: 700px) {
    body {
        padding: 10px;
    }
    .wrapper {
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
    .navbar {
        position: relative;
        height: auto;
        width: 100%;
        text-align: left;
        padding: 0px;
        border-bottom: 2px;
    }
    .content {
        margin-left: 0px;
        width: 100%;
        padding: 0px;
        height: 100%;
    }
    #mobile__border {
        opacity: 1;
    }
    .fa {
        padding-left: 0px;
        padding-right: 20px;
    }
    /* adds image description below the image on mobile rather then hover */
    .img-description {
        position: inherit;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent;
        color: black;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: none;
    }
    .gallery {
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .about__container {
        display: flex;
        flex-direction: column;
        padding: 0px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about__container img {
        height: 100%;
        width: 150px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 50%;
    }
}