/* Riley Buoen */
/* 06-20-24 */

/* Removes default margin and padding from all elements */
* {
    margin: 0;
    padding: 0;
}

/* Misc Styles */
a, p, li {
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
}

hr {
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
    font-family:"Merriweather", serif ;
    font-weight:lighter;
    padding-bottom: 20px;
}

h2 {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 20px;
}

h3 {
    font-family: "Merriweather", serif;
}

/* Main Conainer Styles  */

.wrapper {
    display: flex;
    margin: auto;
    width: 75%;
    margin-top: 10%;
}

/* navigation bar styles */

.navbar {
    position: fixed;
    z-index: 1;
    width: 130px;
    height: 100vh;
    padding: 10px;
    text-align: right;
}

.navbar ul {
    padding: 0;
    list-style-type: none;
}

.navbar li {
    padding-bottom: 20px;
}

.navbar a {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
}

.nav-links:hover {
    color: darkgray;
    
    text-decoration: underline;
}

#mobile__border {
    opacity: 0;
}

/* Main content styles */

.content {
    margin-left: 150px;
    height: 100%;
    padding: 10px;
}

/* Image Gallery Styles */

.gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.img-wrap {
    position: relative;
    aspect-ratio: 1/ 1;
    height:100%;
    width: 100%;
}

.gallery-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.gallery a img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.img-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(165, 165, 165, 0.668);
    color: rgb(255, 255, 255);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity .2s, visibility .2s;
}

.img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
}

/* About Section Styles */

.about_container_text p {
    font-size: 1.1em;
    line-height: 1.6;
}

#skills-list {
    list-style-type: none;
}

#about_header {
    text-align: center;
    padding-top: 20px;
}

.about-headers {
    text-align: center;
}

.about__container img {
    object-fit: cover;
    aspect-ratio: 1/ 1;
    height: 100%;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

.job-title {
    font-size:large;
    font-weight: 100;
    font-style: italic;
}

/* Resume Dates Style */

.right-dates {
    font-weight: 100;
    font-style: italic;
    text-align: right;
    float: right;
    font-size: smaller;
}

.resume-bullets {
    margin-left: 50px;
}

.resume-sections {
    padding-bottom: 20px;
}
/* contact section styles */

#contact_links {
    justify-content: center;
    text-align: center;
}
#contact a {
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
#contact a:hover {
    color: darkgrey;
}
.contact_txt {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    padding: 20px;
}

/* from Spencer Mortensen */

span.email b {
    display: none;
}

/* Social Media Icon Styles */

/* Footer Information Styles */

.copyright {
    font-size: small;
}

/* Project Pages Styles */

.project_container ul {
    margin-left: 2em;
    padding-bottom: 20px;
}


/* PROJECT IMAGE STYLE */

.full_img {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    padding-bottom: 20px;
}

/* Multiple images on a single page */
.multi-img {
    height: 75%;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    padding-bottom: 5px;
}

.project_container p {
    padding-bottom: 20px;
}

/* FONTS */

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 300 to 800 */

.open-sans-300 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* adaptive media queries  */

/* Medium Display Styles */
@media  screen and (max-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .gallery img {
        height: auto;
    }

    .about__container {
        display: flex;
        flex-direction: column;
        padding: 0px;
        align-items: left;
        justify-content: left;
        text-align: left;
    }

    .about__container img {
        height: 100%;
        width: 150px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 50%;
    }
}

/* Small Display Styles */
@media screen and (max-width: 700px) {
    body {
        padding: 10px;
    }
    .wrapper {
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
    .navbar {
        position: relative;
        height: auto;
        width: 100%;
        text-align: left;
        padding: 0px;
        border-bottom: 2px;
    }
    .content {
        margin-left: 0px;
        width: 100%;
        padding: 0px;
        height: 100%;
    }
    #mobile__border {
        opacity: 1;
    }
    .fa {
        padding-left: 0px;
        padding-right: 20px;
    }
    /* adds image description below the image on mobile rather then hover */
    .img-description {
        position: inherit;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent;
        color: black;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: none;
    }
    .gallery {
        grid-template-columns: 1fr;
        gap: 50px;
    }
    /* .about__container {
        display: flex;
        flex-direction: column;
        padding: 0px;
        align-items: left;
        justify-content: left;
        text-align: left;
    }
    .about__container img {
        height: 100%;
        width: 150px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 100%;
    } */
}